{{#section 'css'}}
	<link rel="stylesheet" href="/css/login.css">
	
{{/section}}

{{#if showError}}
<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong>Title!</strong> {{errorMsg}}
</div>
{{/if}}

{{#section 'js'}}

	<script type="text/javascript">
	function kiemTraDangNhap(){
		if(frmDangNhap.username.value==""){
			thongbao1.style.display = "block";
			return false;
		}
		else {
            thongbao1.style.display = "none";
        }
		if(frmDangNhap.rawPWD.value==""){
			thongbao2.style.display = "block";
			return false;
		}
		else {
            thongbao2.style.display = "none";
        }
		return true;
	}
	</script>

{{/section}}

	<div class="container-fluid pb-5 pt-5">        
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-8 ">
				<img class="mb-4" src="/img/logo.png" alt="">
				<h1 class="h3 mb-3 font-weight-normal">Đăng nhập</h1>
				<form class="form-signin" id="frmDangNhap" method="POST" action="" id="frmLogin">
					<label for="inputEmail" class="sr-only">Tài khoản</label>
					<input type="text" class="form-control mb-2" placeholder="Tài khoản" id="txtUsername" name="username" required autofocus>
					<p id="thongbao1" class="text-danger" style="display:none"><small>Vui lòng nhập tên đăng nhập</small></p>
					<label for="inputPassword" class="sr-only">Mật khẩu</label>
					<input type="password" class="form-control" placeholder="Mật khẩu" id="txtPWD" name="rawPWD" required>
					<p id="thongbao2" class="text-danger" style="display:none"><small>Vui lòng nhập mật khẩu</small></p>
					<button class="btn btn-lg btn-dark btn-block mt-3 login" type="submit" onclick="return kiemTraDangNhap()">Đăng nhập</button>
					<p class="mt-5 mb-3 text-muted">Chưa có tài khoản? Đăng ký <a id="dangky" href="/account/register">ở đây.</a></p>
				</form>
			</div>
		</div>
	</div>