{{#section 'title'}}
Đăng ký
{{/section}}

{{#if showError}}
<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong>Title!</strong> {{errorMsg}}
</div>
{{/if}}

{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/assets/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">

<link rel="stylesheet" type="text/css" href="/css/signup.css">

{{/section}}


{{#section 'js'}}
<!-- jQuery library -->

	<script src="/assets/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

	<script type="text/javascript">
	        $('#txtDOB').datepicker({
	        format:'d/m/yyyy',
	        autoclose:true
	        });
	</script>

<script type="text/javascript">
	function kiemTraDangKy(){
		var thongbao=document.getElementById("thongbao");
		var thongbao1=document.getElementById("thongbao1");
		var thongbao2=document.getElementById("thongbao2");
		var thongbao3=document.getElementById("thongbao3");
		var thongbao4=document.getElementById("thongbao4");
		var thongbao5=document.getElementById("thongbao5");
		if(frmDangKy.username.value==""){
			thongbao.style.display="block";
			thongbao.style.color="red";
			return false;
		}
		else{
			thongbao.style.display="none";
		}

		if(frmDangKy.rawPWD.value==""){
			thongbao1.style.display="block";
			thongbao1.style.color="red";
			return false;
		}
		else{
			thongbao1.style.display="none";
		}


		if(frmDangKy.cPWD.value==""){
			thongbao2.style.display="block";
			thongbao2.style.color="red";
			return false;
		}
		else{
			thongbao2.style.display="none";
		}

		if(frmDangKy.rawPWD.value!=frmDangKy.cPWD.value){
			thongbao3.style.display="block";
			thongbao3.style.color="red";
			return false;
		}
		else{
			thongbao3.style.display="none";
		}

		if(frmDangKy.name.value==""){
			thongbao4.style.display="block";
			thongbao4.style.color="red";
			return false;
		}
		else{
			thongbao4.style.display="none";
		}

		if(frmDangKy.email.value==""){
				thongbao5.style.display="block";
				thongbao5.style.color="red";
				return false;
			}

			var email = document.getElementById("email");
			var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
			if (!filter.test(frmDangKy.email.value)) {
				thongbao5.style.display="block";
				thongbao5.style.color="red";
				return false;
			}
			else{
				thongbao5.style.display="none";
			}

		return true;}
	</script>

{{/section}}

	<div class="container-fluid pb-5 pt-5">        
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-8 justify-content-center">
				<img class="mb-4" src="/img/logo.png" alt="">
				<h1 class="h3 mb-3 font-weight-normal">Đăng ký</h1>
				<form id="frmDangKy" class="justify-content-center" action="" method="POST" role="form">
					<div class="form-group">
							<label for="txtUsername">Tài khoản</label>
							<input type="text" class="form-control" id="txtUsername" name="username" placeholder="Tài khoản">
							<p id="thongbao" style="display:none">Mời bạn nhập tên đăng nhập</p>
						</div>

						<div class="form-group">
							<label for="txtPWD">Mật khẩu</label>

							<input type="password" class="form-control" id="txtPWD" name="rawPWD" placeholder="Mật khẩu">
							<p id="thongbao1" style="display:none">Mời bạn nhập password</p>

						</div>

						<div class="form-group">
							<label for="txtCPWD">Nhập lại mật khẩu</label>

							<input type="password" class="form-control" id="txtCPWD" name="cPWD" placeholder="Nhập lại mật khẩu">
							<p id="thongbao2" style="display:none">Nhập lại password</p>
							<p id="thongbao3" style="display:none">Password nhập không chính xác.Mời bạn nhập lại password</p>


						</div>

						<div class="form-group">
							<label for="txtName">Họ tên</label>

							<input type="text" class="form-control" id="txtName" name="name">
							<p id="thongbao4" style="display:none">Mời bạn nhập họ tên</p>

						</div>
						<div class="form-group">
							<label for="txtEmail">Email:</label>

							<input type="text" class="form-control" id="txtEmail" name="email" placeholder="donghonghehung@gmail.com">
							<p id="thongbao5" style="display:none">Email không hợp lệ</p>

						</div>

						<div class="form-group">
							<label for="txtDOB">Ngày Sinh:</label>
							
							<input type="text" class="form-control" id="txtDOB" placeholder="dd/mm/yyyy" name="dob" data-format="yyyy-MM-dd"/>

						</div>     
						<button id="btn-signup" type="submit" class="btn btn-lg btn-dark btn-block mt-3 SignUp" onclick="return kiemTraDangKy()">Đăng ký</button>

						<p class="mt-5 mb-3 text-muted text-center">Đã có tài khoản? <span style="color:blue;cursor:pointer"><a id="dangnhap" href="/account/login">Đăng nhập</a></p>
				</form>
			</div>
		</div>
	</div>