<a class="btn btn-large btn-warning" href="/admin/category/add" role="button">
	Thêm danh mục mới
</a>
<div class="table-responsive mt-2">
	<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Tên danh mục</th>
				<th scope="col">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			{{#each categories}}
			<tr>
				<th scope="row">{{inc @index}}</th>
				<td>{{CatName}}</td>
				<td class="text-right">
					<a class="btn btn-primary" href="/admin/category/edit?id={{CatID}}" role="button">
						<i class="fa fa-pencil" aria-hidden="true"></i>
					</a>
					<a class="btn btn-danger" href="/admin/category/delete?id={{CatID}}" role="button">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</a>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>
