<a class="btn btn-large btn-warning" href="/admin/brand/add" role="button">
	Thêm thương hiệu mới
</a>
<div class="table-responsive mt-2">
	<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Tên thương hiệu</th>
				<th scope="col">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			{{#each brands}}
			<tr>
				<th scope="row">{{inc @index}}</th>
				<td>{{BrandName}}</td>
				<td class="text-right">
					<a class="btn btn-primary" href="/admin/brand/edit?id={{BrandID}}" role="button">
						<i class="fa fa-pencil" aria-hidden="true"></i>
					</a>
					<a class="btn btn-danger" href="/admin/brand/delete?id={{BrandID}}" role="button">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</a>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>

