
.taotaikhoan {
    text-align:  center;
    font-size:  40px;
    font-weight:  bold;
    margin-top: -70px;
}
}

h5.noiquyDK {
    padding: 10px 0px 20px 112px;
    font-size: 15px;
}


.Dacotk {
    margin-left: 103px;
    font-size: 13px;
}


.mota {
    font-size: 19px;
    font-family: monospace;
}

