{{#section 'js'}}
	<script>
		$(document).ready(function () {
			let imagesPreview = function (input, placeToInsertImagePreview) {
				if (input.files) {
					let filesAmount = input.files.length;
					for (i = 0; i < filesAmount; i++) {
						let reader = new FileReader();
						reader.onload = function (event) {
							$($.parseHTML("<img>"))
								.attr("src", event.target.result)
								.appendTo(placeToInsertImagePreview);
						};
						reader.readAsDataURL(input.files[i]);
					}
				}
			};
			$("#input-multi-files").on("change", function () {
				imagesPreview(this, "div.preview-images");
			});
		});
		function kiemTraSanPham() {
			var thongbao1 = document.getElementById("thongbao1");
			var thongbao2 = document.getElementById("thongbao2");
			var thongbao3 = document.getElementById("thongbao3");
			var thongbao4 = document.getElementById("thongbao4");
			var thongbao5 = document.getElementById("thongbao5");
			var thongbao6 = document.getElementById("thongbao6");
			var thongbao7 = document.getElementById("thongbao7");
			var thongbao8 = document.getElementById("thongbao8");
			if (frmProduct.ProName.value == "") {
				thongbao1.style.display = "block";
				return false;
			}
			else {
				thongbao1.style.display = "none";
			}
			if (frmProduct.ProImage.value == "") {
				thongbao2.style.display = "block";
				return false;
			}
			else {
				thongbao2.style.display = "none";
			}
			if (frmProduct.Price.value == "") {
				thongbao3.style.display = "block";
				return false;
			}
			else {
				thongbao3.style.display = "none";
			}
			if (frmProduct.SoLuong.value == "") {
				thongbao4.style.display = "block";
				return false;
			}
			else {
				thongbao4.style.display = "none";
			}
			if (frmProduct.Description.value == "") {
				thongbao5.style.display = "block";
				return false;
			}
			else {
				thongbao5.style.display = "none";
			}
			if (frmProduct.xuatxu.value == "") {
				thongbao6.style.display = "block";
				return false;
			}
			else {
				thongbao6.style.display = "none";
			}
			if (frmProduct.mausac.value == "") {
				thongbao7.style.display = "block";
				return false;
			}
			else {
				thongbao7.style.display = "none";
			}
			if (frmProduct.baohanh.value == "") {
				thongbao8.style.display = "block";
				return false;
			}
			else {
				thongbao8.style.display = "none";
			}
			return true;
		}
	</script>
{{/section}}


{{#if showAlert}}
<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	Thêm thành công
</div>
{{/if}}

<form action="" id="frmProduct" method="POST" role="form" enctype="multipart/form-data">
	<div class="form-group">
		<label for="">Tên sản phẩm</label>
		<input type="text" class="form-control" id="" name="ProName" placeholder="Tên sản phẩm">
		<p id="thongbao1" class="text-danger" style="display:none"><small>Vui lòng nhập tên sản phẩm</small></p>
	</div>
	<div class="form-group">
		<label for="file">Hình sản phẩm</label>
		<input type="file" class="form-control-file" id="input-multi-files" name="ProImage" accept="image/png, image/jpeg" multiple>
		<p id="thongbao2" class="text-danger" style="display:none"><small>Vui lòng chọn ít nhất 1 hình</small></p>
	</div>
	<div class="row">
		<div class="col">
			<div class="preview-images"></div>
		</div>
	</div>
	<div class="form-group">
		<label for="">Giá</label>
		<input type="text" class="form-control" id="" name="Price" placeholder="10.000">
		<p id="thongbao3" class="text-danger" style="display:none"><small>Vui lòng nhập giá sản phẩm</small></p>
	</div>
	<div class="form-group">
		<label for="">Số lượng nhập</label>
		<input type="number" class="form-control" id="" name="SoLuong" placeholder="50">
		<p id="thongbao4" class="text-danger" style="display:none"><small>Vui lòng nhập số lượng số lượng sản phẩm</small></p>
	</div>
	<div class="form-group">
		<label for="">Mô tả</label>
		{{!-- <input type="textarea" class="form-control" id="" name="Description" placeholder="Mô tả sản phẩm"> --}}
		<textarea class="form-control" aria-label="With textarea" name="Description" placeholder="Mô tả sản phẩm"></textarea>
		<p id="thongbao5" class="text-danger" style="display:none"><small>Vui lòng nhập mô tả sản phẩm</small></p>
	</div>
	<div class="form-group">
		<label for="">Danh mục</label>
		<select class="form-control" name="category" id="category">
			<option value="1">Đồng hồ nam</option>
			<option value="2">Đồng hồ nữ</option>
			<option value="1">Đồng hồ cặp đôi</option>
			<option value="2">Đồng hồ trẻ em</option>
		</select>
	</div>
	<div class="form-group">
		<label for="">Thương hiệu</label>
		<select class="form-control" name="brand" id="brand">
			<option value="1">Casio</option>
			<option value="2">Citizen</option>
			<option value="3">Seiko</option>
			<option value="4">Fossil</option>
			<option value="5">Daniel Wellington</option>
			<option value="6">Tissot</option>
		</select>
	</div>
	<div class="form-group">
		<label for="">Xuất xứ</label>
		<input type="text" class="form-control" id="" name="xuatxu" placeholder="Nhật Bản">
		<p id="thongbao6" class="text-danger" style="display:none"><small>Vui lòng nhập xuất xứ sản phẩm</small></p>
	</div>
	<div class="form-group">
		<label for="">Màu sắc</label>
		<input type="text" class="form-control" id="" name="mausac" placeholder="Xanh navy">
		<p id="thongbao7" class="text-danger" style="display:none"><small>Vui lòng nhập màu sắc</small></p>
	</div>
	<div class="form-group">
		<label for="">Loại máy</label>
		<select class="form-control" name="loaimay" id="loaimay">
			<option value="Máy cơ">Máy cơ</option>
			<option value="Máy pin">Máy pin</option>
		</select>
	</div>
	<div class="form-group">
		<label for="">Loại kính</label>
		<select class="form-control" name="loaikinh" id="loaikinh">
			<option value="Kính khoáng (Mineral)">Kính khoáng (Mineral)</option>
			<option value="Kính Acrylic (thủy tinh hữu cơ)">Kính Acrylic (thủy tinh hữu cơ)</option>
			<option value="Kính Sapphire">Kính Sapphire</option>
			<option value="4">G-shock</option>
		</select>
	</div>
	<div class="form-group">
		<label for="">Loại vỏ</label>
		<select class="form-control" name="loaivo" id="loaivo">
			<option value="Kim loại">Kim loại</option>
			<option value="Nhựa">Nhựa</option>
			<option value="Đá">Đá</option>
		</select>
	</div>
	<div class="form-group">
		<label for="">Loại dây</label>
		<select class="form-control" name="loaiday" id="loaiday">
			<option value="Dây da">Dây da</option>
			<option value="Dây kim loại">Dây kim loại</option>
			<option value="Dây Silicon">Dây Silicon</option>
		</select>
	</div>
	<div class="form-group">
		<label for="">Bảo hành</label>
		<input type="text" class="form-control" id="" name="baohanh" placeholder="12 tháng">
		<p id="thongbao8" class="text-danger" style="display:none"><small>Vui lòng nhập thời gian bảo hành</small></p>
	</div>
	<a class="btn btn-outline-secondary" href="/admin/product" role="button">
		<i class="fa fa-arrow-left" aria-hidden="true"></i>
		Danh sách sản phẩm
	</a>
	<button type="submit" class="btn btn-danger" onclick="return kiemTraSanPham()">
		<i class="fa fa-check" aria-hidden="true"></i>
		Thêm
	</button>
</form>